:root{
  --container-height:100vh;
  --container-width:100%;
  --theme-color: #00cc00
}

*{
  box-sizing: border-box;
  color: #fff;
  font-family: Arial, Sans-Serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

div.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--container-width);
  height: var(--container-height);
  background-color: rgba(0,0,0,.8);
  box-shadow: inset 0px 0px 20px var(--theme-color);
}

.fullname {
  font-size: xx-large;
  backface-visibility: hidden;
  transform-origin: center;
  animation: transformDirection 5s ease-in-out infinite alternate;
}

@keyframes transformDirection {
  from {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(calc(var(--container-width) * .5)) translateY(calc(var(--container-height) * .7));
  }to{
    transform: rotateX(360deg) rotateY(-360deg) rotateZ(-360deg) translateX(calc(var(--container-width) * .01)) translateY(calc(var(--container-height) * .25));
  }
}